.primary_btn {
  padding: 18px 10px;
  background-color: black;
  color: white;
  align-items: center;
  gap: 7px;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  white-space: nowrap;
  max-height: 44px;
  justify-content: center;
  cursor: pointer;
  font-size: 22px; /*for icon size*/
}

.outline_btn {
  padding: 18px 10px; /*Kuch jhol*/
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  align-items: center;
  gap: 7px;
  width: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 22px; /*for icon size*/
  max-height: 44px;
}
